<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Pirates of the Code-Bean #4 (On Stranger Tides)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Using CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<div class="container">

    <h1 class="center-align my-font">Pirates of the Code-Bean #4</h1>
    <h3 class="center-align my-font purple-text">(On Stranger Tides)</h3>
    <h4 class="my-font blue-text">
        Steps of the fountain of youth:
    </h4>

    <div class="row center-align">
        <div class="col">
    <form th:action="@{/findMermaid}" th:object="${stepOne}" method="get">
        <button name="action" value="done" type="submit"
                class="waves-effect waves-light btn-large green lighten-3">Find the mermaid
        </button>
    </form>
        </div><div class="col">

    <form th:action="@{/getMermaidTears}" th:object="${stepTwo}" method="get">
        <button name="action" value="done" type="submit" th:disabled="${stepOne}"
                class="waves-effect waves-light btn-large green lighten-3">Get mermaid's tears
        </button>
    </form>
    </div><div class="col">
    <form  th:action="@{/findChalice}" th:object="${stepThree}" method="get">
        <button name="action" value="done" type="submit" th:disabled="${stepTwo}"
                class="waves-effect waves-light btn-large green lighten-3">Find the chalice
        </button>
    </form>
    </div><div class="col">
    <form th:action="@{/drinkTheTear}" th:object="${stepFour}" method="get">
        <button name="action" value="done" type="submit" th:disabled="${stepThree}"
                class="waves-effect waves-light btn-large green lighten-3">Drink the tears from the chalice
        </button>
    </form>
        </div>
    </div>
    <h2>
        <span th:if="${stepFour} == false">
            <h2 class="center-align my-font green-text" >Congratulations you got Immortality!</h2>
        </span>
    </h2>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>